.btn {
  padding: 10px;
  font-weight: 600;
  border-radius: var(--radius-xs);
  transition: all 0.3s;
}

.btn-primary {
  color: var(--primary-foreground);
  background-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  color: var(--secondary-foreground);
  background-color: var(--secondary);
}
.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

.btn-outline {
  border: 2px solid var(--border);
}
.btn-outline:hover {
  border-color: var(--border-hover);
}

.btn-radius-xs {
  border-radius: var(--radius-xs);
}
.btn-radius-sm {
  border-radius: var(--radius-sm);
}
.btn-radius-md {
  border-radius: var(--radius-md);
}
.btn-radius-lg {
  border-radius: var(--radius-lg);
}
.btn-radius-full {
  border-radius: var(--radius-full);
}
