@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "./ui/button/button.css";

:root {
  --background: #ffffff;
  --foreground: #111111;

  --primary: #ff6565;
  --primary-foreground: #ffffff;
  --primary-hover: #e65555;

  --secondary: #4f9aff;
  --secondary-foreground: #ffffff;
  --secondary-hover: #3f8ae6;

  --border: #e0e0e0;
  --border-hover: #cccccc;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 9999px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--foreground);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #111;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.75rem;
  font-weight: 500;
}
h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
h5 {
  font-size: 1.25rem;
  font-weight: 400;
}
h6 {
  font-size: 1rem;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
