.toast {
  background-color: #ff6565;
  color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 2.5px;
  margin-top: -100%;
  transition: all 0.3s;
  font-weight: 500;
}

.toast.active {
  margin-top: 5px;
}
